<form action="/signup" method="POST" class="signupform">
        <label for="userid">ID</label>
        <input name="userid" type="text" required />
        <label for="password">PASSWORD</label>
        <input name="password" type="password" required />
        <button class="btn">SIGNUP!</button>
  </form>
